/* Add your own styles */
header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2A3D45;
    color: white;
    height: 210px;
}

header h1{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 50px;

}

body{
    background-color: #E8DCB9;
}

img{
    height: 100px;
    width: 200px;
}

#country{
    height: 35px;
    width: 350px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px 2px grey;
    border-color: grey;
   
}

#lookup{
    background-color: #F2919B;
    width: 170px;
    height: 40px;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    text-align: center; 
}

#city{
    background-color: #7686A7;
    width: 170px;
    height: 40px;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

#results{
    padding: 20px;
}


label{
    display: none;
}

table{
    border-collapse: collapse;
    margin: 25px 0;
    border: 5px;
}

table tr th{
    background-color: #387780;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 12px 15px;
}

table tr td{
    text-align:left;
    background-color: #ffff;
    padding: 20px 25px;
}

table tr{
    border-bottom: 1px solid #dddd;
}

